name: Update Data and Plots

on:
  schedule:
    - cron: '*/30 * * * *'  # Runs every 30 minutes
  workflow_dispatch:
  push:
    branches: [main, master]
  pull_request:

permissions:
  contents: write

jobs:
  update:
    runs-on: macOS-latest
    env:
      LANG: es_ES.UTF-8
      LC_ALL: es_ES.UTF-8
      LC_TIME: es_ES.UTF-8

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Install Required R Packages
        run: |
          Rscript -e "install.packages(
          c('tidyverse', 'tidymodels', 'inegiR', 'siebanxicor', 'fredr', 'hunspell', 
          'hrbrthemes', 'sysfonts', 'svglite', 'forcats', 'lubridate', 'showtext', 
          'ggpattern', 'ggrepel', 'rsdmx', 'plotly', 'htmlwidgets', 'zoo', 'xts', 
          'scales', 'testthat'))"

      - name: Set API Key and run R scripts
        env:
          INEGI_API: ${{ secrets.INEGI_API }}
          BANXICO_API: ${{ secrets.BANXICO_API }}
          FRED_API: ${{ secrets.FRED_API }}
        run: |
          ls -R  # List files to check if R scripts exist
          for script in $(find r -type f -name "*.R"); do
            echo "Running $script"
          Rscript "$script" || echo "⚠️ Warning: $script failed but continuing..."
          done

      - name: Run tests
        run: Rscript -e "testthat::test_dir('tests/testthat')"

      - name: Commit and push changes
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git add data/* plots/*
          git commit -m "Auto-update: Data and plots refreshed $(date +'%Y-%m-%d %H:%M')" || echo "No changes to commit"
          git push
